
/* desktop */
*{
  font-family:'Times New Roman', Times, serif;
}

#get-data{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: center;  
    padding:20px 10px;  
    background-color: #FDFAF6;
}
.card {
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(44, 44, 44);
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #263238;
}

.card img {
    height: 30%;
    width: 30%;
    margin: 20px 0px;
}

.card h2{
    font-size: 1rem;
}
.card h3 {
    font-size: small;
    color: #5e5e5e;
}
.card h4{
    font-size: 1rem;
    font-weight: bolder;
    color: #960724;
} 
.card h5 {
    font-size: medium;
    color: #eda847 ;
}



input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #ffffff;
}

input[type=text]:focus , input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#signupbtn , #login{
  background-color: #F8EFE4;
  color: #e49424;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1.5px solid #e49424;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bolder;
  font-size: large;
}

#signupbtn:hover , #login:hover {
  background-color: #eda847;
  color: white;
}

.container-signup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 10px; */
  position: fixed; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-image: url('background-img.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-signup {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  background-color: #fefefee5;
  border-radius: 20px;
  width: 45%; 
  padding: 20px;
  box-shadow: 1px 1px 10px #263238;
  color: #263238;

}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.content-signup p {
    color: #960724;
}
h{
    padding: 3px 6px;
}


/* * Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 600px) {
    #get-data{
        display: grid;
        grid-template-columns: auto;
    }
    .card {
        height: 30vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .content-signup {
      width:90%; 
      height: fit-content;
      padding: 12px;
      font-size: small;
    
    }

    .container-signup {
      width: 100%; 
      height: 100%; 
    }

    input[type=text], input[type=email], input[type=password] {
      padding: 12px;
    }
    #signupbtn , #login{
      font-size: small;
      padding: 12px 0px;      
    }
    
 }
